.jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  background-size: cover;
  min-height: 90vh;
}
.jobs-content {
  display: flex;
  flex-direction: column;
  width: 92%;
  max-width: 1180px;
}

@media screen and (min-width: 768px) {
  .jobs-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 92%;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .loader-container {
    width: 100%;
  }
}
